* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(30, 105, 159);
  color: white;
  min-height: 100vh;

}

h1 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1rem;
  border-bottom: solid 2px white;
  padding-bottom: 1rem;
}

h3 {
  padding: 1rem;
}

.outerdiv{
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.board {
  border: 1rem solid #ffffff;
  border-radius: 10px;
  background: #ffffff;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.squares {
  background: rgb(30, 105, 159);
  border: none;
  border-radius: 10px;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
}

.X {
  background-color:red ;
  color: white;
}
.O {
  background-color: green;
  color: white;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}


.info-wrapper button {
  color: white;
  border:solid 2px white ;
  border-radius: 6px;
  background-color: rgb(30, 105, 159);
  cursor: pointer;
  padding: 0.5rem;
  margin: .3rem 1rem;
}

.footer {
  border-top: solid 1px white;
  padding: .5rem;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 20px;
 }
 