* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(30, 105, 159);
  min-height: 100vh;
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: solid 1px white;
}

.winner-X{
  font-size: 2rem;
  font-weight: 900;
  text-decoration: underline;
  color: red;
}

.winner-O{
  font-size: 2rem;
  font-weight: 900;
  text-decoration: underline;
  color: green;
}

h3 {
  padding: 1rem;
}

.outerdiv{
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.board {
  border: 1rem solid #ffffff;
  border-radius: 10px;
  background: #ffffff;
  width: 30rem;
  height: 30rem;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.squares {
  background: rgb(30, 105, 159);
  border: none;
  border-radius: 10px;
  font-size: 4rem;
  cursor: pointer;
  outline: none;
}

.X {
  background-color:red ;
  color: white;
}
.O {
  background-color: green;
  color: white;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.timeline-wrapper {
  border-left: solid 1px white;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.timeline-wrapper button {
  color: white;
  border:solid 2px white ;
  border-radius: 6px;
  background-color: rgb(30, 105, 159);
  cursor: pointer;
  padding: 0.5rem;
  margin: .3rem 1rem;
}

.timeline-wrapper li{
  list-style:none;
}

.footer {
  padding: .5rem;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 1rem;
 }
 